.profile {

    height: 400px;
    width: 600px;
    border: solid 1px black;
    z-index: 1;
    margin: auto;
}

#user_profile {
    position: relative;
    top: -766px;
    span i {
        font-size: 1.4em;
        margin-left: 94%;
        margin-top: 2%;
    }
}