
#user_profile {
    position: fixed;
    top: 160px;
    left: 33%;
    .profile {
        height: 300px;
        width: 500px;
        border: solid 1px black;
        z-index: 1;
        span i {
            font-size: 1.4em;
            margin-left: 94%;
            margin-top: 2%;
        }
    }  
}