#users_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.user_thumbnail {
    width: 8%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 2px 3px 4px lightgrey;
    flex-direction: column;
    align-items: center;
    padding: 7px 15px;

    cursor: pointer;
    img {
        border-radius: 25px;
    }
    .data_home {
        width: 100%;
        p {
            margin-block-start: 0.2em;
            margin-block-end: 0.8em;
            color:  rgb(60, 60, 60);
            font-size: 0.8em;
            text-align: center;
            
        }
        span {
            color: rgb(100, 100, 100);
            font-size: 0.7em;
            flex-wrap: wrap;
            justify-content: space-between;
            span.city {
                width: 70%;
                text-overflow: ellipsis;
            }
        }
    }
    
}




.opacity {
    opacity: 0.3;
}