#users_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
}

.user_thumbnail {
    width: 180px;
    height: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    -webkit-box-shadow: 9px 7px 5px 0px rgba(81,77,77,1);
    -moz-box-shadow: 9px 7px 5px 0px rgba(81,77,77,1);
    box-shadow: 9px 7px 5px 0px rgba(81,77,77,1);
    flex-direction: column;
    align-items: center;
    padding: 7px 5px 4px;
    background-color: #fcfcfc;

    cursor: pointer;
    img {
        border-radius: 25px;
    }
    .data_home {
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        p {
            margin-block-start: 0em;
            margin-block-end: 0em;
            color:  #514D4D;
            font-size: 0.9em;
        }
        .city_line {
            padding-top: 10px;
        }
        i, span {
            color: #AFAEAE;
            font-size: 0.7em;
        }
        
    }
    
}

.user_thumbnail:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.opacity {
    opacity: 0.3;
}