#users_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px;
  margin-bottom: 20px;
}

.user_thumbnail {
  width: 180px;
  height: 120px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  -webkit-box-shadow: 9px 7px 5px 0px #514d4d;
  -moz-box-shadow: 9px 7px 5px 0px #514d4d;
  box-shadow: 9px 7px 5px 0px #514d4d;
  flex-direction: column;
  align-items: center;
  padding: 7px 5px 4px;
  background-color: #fcfcfc;
  cursor: pointer;
}
.user_thumbnail img {
  border-radius: 25px;
}
.user_thumbnail .data_home {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user_thumbnail .data_home p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #514D4D;
  font-size: 0.9em;
}
.user_thumbnail .data_home .city_line {
  padding-top: 10px;
}
.user_thumbnail .data_home i, .user_thumbnail .data_home span {
  color: #AFAEAE;
  font-size: 0.7em;
}

.user_thumbnail:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

.opacity {
  opacity: 0.2;
}

#user_profile {
  position: fixed;
  top: 160px;
  left: 33%;
}
#user_profile .profile {
  height: 350px;
  width: 550px;
  border-radius: 10px;
  z-index: 1;
  background-color: #f7f7f7;
  text-align: center;
  border: 1px solid #AFAEAE;
  -webkit-box-shadow: 9px 7px 5px 0px #514d4d;
  -moz-box-shadow: 9px 7px 5px 0px #514d4d;
  box-shadow: 9px 7px 5px 0px #514d4d;
}
#user_profile .profile #background {
  background-color: #C8F4E6;
  width: 100%;
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#user_profile .profile #background span i {
  font-size: 1.5em;
  margin-left: 91%;
  margin-top: 29%;
  color: #AFAEAE;
  z-index: 10;
  position: relative;
  top: -140px;
}
#user_profile .profile #background p i.fas {
  color: #90CCB9;
  z-index: 10;
  position: relative;
  font-size: 1.4em;
  top: -177px;
  right: 241px;
  cursor: pointer;
}
#user_profile .profile #background p i.fas:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
#user_profile .profile #img_profile {
  position: relative;
  top: -98px;
}
#user_profile .profile #img_profile img {
  border: 1px solid #fcfcfc;
  border-radius: 80px;
}
#user_profile .profile #profile_name {
  color: #AFAEAE;
  font-size: 1.8em;
  margin-block-end: 0em;
  margin-block-start: 0.5em;
}
#user_profile .profile #email {
  color: #514D4D;
  cursor: pointer;
}
#user_profile .profile #send {
  color: #AFAEAE;
  cursor: pointer;
}
#user_profile .profile #email:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#user_profile .profile #user {
  color: #90CCB9;
  margin-block-end: 1.5em;
}

.non_visible {
  visibility: hidden;
}

@media only screen and (max-width: 834px) {
  #user_profile {
    left: 20%;
  }
  #user_profile .profile {
    width: 300px;
    height: 400px;
  }
  #user_profile .profile #background span i {
    top: -79px;
    right: 8px;
  }
  #user_profile .profile #background p i.fas {
    top: -101px;
    right: 121px;
  }
  #user_profile .profile #img_profile {
    position: relative;
    top: -79px;
  }
}
@media only screen and (max-width: 414px) {
  #user_profile {
    left: 5%;
  }
}
body {
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: #E4FCF0;
}

#title {
  text-align: center;
  color: #514D4D;
}

main {
  max-height: 1300px;
  padding: 30px;
}
main #page {
  text-align: right;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.5px;
  padding-right: 25px;
  color: #514d4d;
}
main .button {
  text-align: center;
  padding: 25px 0px;
}
main button {
  border: 1px solid;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.5px;
  padding: 5px 20px 4px;
  cursor: pointer;
  background-color: #AFAEAE;
  border-radius: 3px;
}
main button:hover {
  background-color: #514d4d;
  color: #fcfcfc;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
